<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<h2>Tweet</h2>
<form action="#"
      th:action="@{/process}"
      th:object="${tweet}"
      method="post">
    <input type="hidden" th:field="*{id}"/>
    Tweet:<input type="text" th:field="*{content}"/>
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span><br/>
    Date:<input type="text" th:field="*{postedDate}"/>
    <span th:if="${#fields.hasErrors('postedDate')}"
          th:errors="*{postedDate}"></span><br/>
    Username:<input type="text" th:field="*{sentBy}"/>
    <span th:if="${#fields.hasErrors('sentBy')}"
          th:errors="*{sentBy}"></span><br/>
    <input type="submit" value="Submit"/>
</form>
<div th:replace="base :: footer"></div>
</body>
</html>